body{
    padding:0;
    overflow-x: hidden;
    margin:0;
    background: url(scattered_flowers_d.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slider
{
    overflow: hidden;
    height: 500px;
    width: 500px;
    margin-left:60%;
    padding-left:20px;
}
.slider figure{
    position:relative;
    width:500%;
    /* height:400%; */
    margin:0;
    left:0;
    animation:20s slider infinite;
}
.slider figure img{
    float:left;
    width:20%;
    visibility:20%;
    position: cover;
    
}


@keyframes slider
{
    0%{
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25%{
        left:-100%;
    }
    45% {
        left:-100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75%
    {
        left: -300%;
    }
    95%{
        left:-300%
    }
    100%{
        left: -400%

    }


}

.timg2
{
    height:400px;
    width:300px;
border-radius: 4opx;
}
#top_cat{
    background-color:aquamarine;
    margin-left:20px;
    padding-right: 10px;
    
}
#all_cat{
    background-color: aquamarine;
}
.sub_sect{
    margin-top:-520px;
    height:500px;
    width:900px;
    background:radial-gradient(rgb(69, 210, 253),rgb(39, 238, 211));
    margin-left: 20px;
    text-overflow: initial;
    text-indent: 20px;
}
.cards
{
    background-color: aliceblue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    flex:1;
    
}
.cards p{
    margin:5px;
    flex:1;
    box-shadow: aqua;
}

footer{
    
    bottom:0px;
    width:100%;
    background:rgb(171, 201, 206);

}
.main-content{
    display:flex;
}
.main-content .box{
    flex-basis:50%;
    padding:10px 20px;
}
.box h2{
    font-size:1.125rem;
    font-weight:600;
    text-transform:uppercase;

}
.box content{
    margin: 20px 0 0 0;
    
}
.left .content p{
    text-align: justify;
}

.left .content .social a{
    padding: 0 2px;
} 
.left .content .social a i{
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    font-size:18px;
    border-radius:5px;
    transition:0.3s;
}
.left .content .social a i:hover{
    background:#f12020;
}
